:root{
    --base1: 5;
    --base2: 5;
    --base3: 1;
    --linex: 0px;
    --opa1: 0;
    --opa2: 0;
}
#page5{
    position: relative;
    background-image: url("../zeroCup/resources/background.jpg");
    overflow: hidden;
}
.playgame{
    position: absolute;
    left: 150px;
    top: 300px;
    transform: scale(var(--base1));
    transition: ease-in-out 0.5s;
    z-index: 10;
}
.knowhistory{
    position: absolute;
    right: 700px;
    bottom: 200px;
    transform: scale(var(--base2));
    transition: linear 0.5s;
    z-index: 10;
}
.separate{
    position: absolute;
    left: 500px;
    top: 50px;
    transform: scale(var(--base3)) translateX(var(--linex));
    transition: linear 0.5s;
    z-index: 10;
}
.backpic1{
    position: absolute;
    left: -400px;
    top: -300px;
    opacity: var(--opa1);
    z-index: 1;
    transform: rotateZ(27deg);
    transition: linear 0.5s;
}
.backpic2{
    position: absolute;
    right: -130px;
    bottom: -500px;
    opacity: var(--opa2);
    z-index: 1;
    transform: rotateZ(27deg);
    transition: linear 0.5s;
}
.playgamesvg text{
    pointer-events: none;
}
.knowhistorysvg text{
    pointer-events: none;
}